.avatar { width: 96px; height: 96px; border-radius: 50%; display: block; margin: 0 auto 10px; }
.avatar-small { width: 108px; height: 108px; border-radius: 50%; display: block; margin: 0 auto 12px; }
